
* {
    margin: 0;
    padding: 0;
    font-family: Public Sans;
}

.contener {
    width: 316px;
    margin-left: 38px;
    margin-right: 38px;
}

.title {
    margin-top: 28px;
}

.item {
    display: flex;
}

.image {
    width: 129px;
    height: 133px;
}

.item-in {
    position: absolute;
    margin-left: 141px;
    padding-top: 6px;
    padding-bottom: 5px;
    display: block;
}

.item-title {
    font-size: 20px;
    line-height: 30px;
}

.item-size {
    margin-top: 7px;
    font-size: 14px;
    line-height: 20px;
}

.item-quantity {
    margin-top: 7px;
    font-size: 14px;
}

.price-remove {
    display: flex;
    justify-content: space-between;
}

.item-price {
    margin-top: 7px;
    font-family: 'Public Sans';
    font-style: normal;
    height: 30px;
    width: 81px;
    font-size: 22px;
    line-height: 30px;
}

.contener-item-remove {
    padding-top: 17px;
}

.item-remove {
    color: black;
}

.divide-bar-grey {
    width: 100%;
    background-color: #909090;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 26px;
}

.title-order {
    font-family: 'Public Sans';
    margin-top: 29px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}

.coupon-code {
    width: 300px;
    height: 40px;
    margin-top: 19px;
    padding-left: 16px;
    border: 0.5px solid #000000;
}

.sub-price {
    width: 100%;
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.shipping {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #0D0D0D;
}

#calculated {
    opacity: 0.7;
}

.divide-bar {
    width: 100%;
    background-color: #000000;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 26px;
}

.total {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #0D0D0D;
}

button {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 60px;
    background-color: black;
    color: white;
    border: 1px black;
    text-align: center;
}