
* {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans';
    font-style: normal;
}

.contener {
    position: absolute;
    left: 38px;
    right: 38px;
}

.title {
    margin-top: 28px;
    margin-bottom: 5px;
    font-size: 36px;
    line-height: 44px;
}

.item {
    display: flex;
}

.image {
    width: 129px;
    height: 133px;
}

.subtitle {
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.item-in {
    padding-top: 6px;
    padding-bottom: 5px;
    display: block;
}

.item-title {
    font-size: 20px;
    line-height: 30px;
}

.item-size {
    margin-top: 7px;
    font-size: 14px;
    line-height: 20px;
}

.item-quantity {
    margin-top: 7px;
    font-size: 14px;
}

.price-remove {
    display: flex;
    justify-content: space-between;
}

.item-price {
    margin-top: 7px;
    height: 30px;
    width: 81px;
    font-size: 22px;
    line-height: 30px;
}

.contener-item-remove {
    padding-top: 17px;
}

.item-remove {
    color: black;
}

.divide-bar-grey {
    width: 100%;
    background-color: #909090;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 26px;
}

.title-order {
    margin-top: 29px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}

form{
    text-align: center;
}

.coupon-code {
    width: 284px;
    height: 40px;
    margin-top: 19px;
    padding-left: 16px;
    border: 0.5px solid #000000;
}

.sub-price {
    width: 100%;
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.shipping {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #0D0D0D;
}

#calculated {
    opacity: 0.7;
}

.divide-bar {
    width: 100%;
    background-color: #000000;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 26px;
}

.total {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #0D0D0D;
}

button {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 60px;
    background-color: black;
    color: white;
    border: 1px black;
    text-align: center;
}

.contener-policy {
    width: 100%;
    color:#909090;
}

.contener-policy-title {
    width: 100%;
    margin-bottom: 11px;
    display: flex;
    justify-content: space-between;
}

.policy {
    font-size: 16px;
    line-height: 22px;
}

i {
    padding-top: 2px;
}

@media only screen and (min-width: 1300px) {
    .contener {
        left: 141px;
        right: 211px;
    }
}

@media only screen and (min-width: 959px) {

    .sub-contener {
        display: flex;
    }

    .first-contener {
        width: 560px;
    }

    .second-contener {
        position: absolute;
        right: 0px;
        margin-top: 80px;
        width: 402px;
    }

    .price-remove {
        width: 418px;
    }

    .item-in {
        margin-left: 12px;
    }

    .sub-price {
        margin-top: 27px;
    }
}

@media only screen and (min-width: 959px) and (max-width: 1090px) {
    .second-contener {
        width: 302px;
    }
}

@media only screen and (max-width: 959px) {
    .item-in {
        position: absolute;
        left: 141px;
        right: 0px;
    }
}