
* {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans';
    font-style: normal;
}

body {
    overflow-x: hidden;
}

.contener {
    position: absolute;
    left: 38px;
    right: 38px;
}

footer {
    transform: translateX(-38px);
    -webkit-transform: translate(-38px)
}

.title {
    margin-top: 28px;
    margin-bottom: 5px;
    font-size: 36px;
    line-height: 44px;
}

.item {
    display: flex;
}

.image {
    width: 129px;
    height: 133px;
}

.subtitle {
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

#subtitle-a {
    color: #000000;
}

.item-in {
    padding-top: 6px;
    padding-bottom: 5px;
    display: block;
}

.item-title {
    font-size: 20px;
    line-height: 30px;
}

.item-size {
    margin-top: 7px;
    font-size: 14px;
    line-height: 20px;
}

.item-quantity {
    margin-top: 7px;
    font-size: 14px;
}

.price-remove {
    display: flex;
    justify-content: space-between;
}

.item-price {
    margin-top: 7px;
    height: 30px;
    width: 81px;
    font-size: 22px;
    line-height: 30px;
}

.contener-item-remove {
    padding-top: 17px;
}

.item-remove {
    color: #000000;
}

.divide-bar-grey {
    width: 100%;
    background-color: #909090;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 26px;
}

.divide-bar-grey-11 {
    width: 100%;
    background-color: #909090;
    height: 1px;
    margin-top: 11px;
    margin-bottom: 16px;
}

.title-order {
    margin-top: 29px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}

#form{
    text-align: center;
}

.coupon-code {
    width: 284px;
    height: 40px;
    margin-top: 19px;
    padding-left: 16px;
    border: 0.5px solid #000000;
}

.sub-price {
    width: 100%;
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.shipping {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #0D0D0D;
}

#calculated {
    opacity: 0.7;
}

.divide-bar {
    width: 100%;
    background-color: #000000;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 26px;
}

.total {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #0D0D0D;
}

#button {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 60px;
    background-color: black;
    color: white;
    border: 1px black;
    text-align: center;
}

#button:hover {
    cursor: pointer;
    background-color: rgb(37, 37, 37);
}

.contener-policy {
    display: block;
    height: 22px;
    width: 100%;
    color:#909090;
    transition: height 0.4s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%,
    100% 100%, 0% 100%)
}

.contener-policy-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.policy {
    font-size: 16px;
    line-height: 22px;
}

.paragraph {
    margin-top: 11px;
    margin-bottom: 11px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

#id_plus {
    padding-top: 2px;
    cursor: pointer;
}

@media only screen and (min-width: 1340px) {
    .contener {
        left: 141px;
        right: 211px;
    }

    footer {
        transform: translateX(-141px);
        -webkit-transform: translate(-141px)
    }
}

@media only screen and (min-width: 960px) {

    .sub-contener {
        display: flex;
    }

    .first-contener {
        width: 560px;
    }

    .second-contener {
        position: absolute;
        right: 0px;
        margin-top: 80px;
        width: 402px;
    }

    .price-remove {
        width: 418px;
    }

    .item-in {
        margin-left: 12px;
    }

    .sub-price {
        margin-top: 27px;
    }

    .oder-contener {
        width: 560px;
    }

    .coupon-code {
        width: 384px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1090px) {
    .second-contener {
        width: 302px;
    }

    .coupon-code {
        width: 284px;
    }

}

@media only screen and (max-width: 959px) {
    .item-in {
        position: absolute;
        left: 141px;
        right: 0px;
    }
}

@media only screen and (max-width: 850px) {
    .contener{
        margin-top: 64px;
    }

    .margin-32 {
        margin-top: 0px;
        transition-delay: 0.5s;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
    }
}

@media only screen and (max-width: 405px) {
    
    .contener {
        left: 18px;
        right: 18px;
    }

    footer {
        transform: translateX(-18px);
        -webkit-transform: translate(-18px)
    }

    .item-title {
        font-size: 18px;
        font-weight: bold;
        line-height: 26px;
    }

    .item-size {
        font-size: 14px;
        line-height: 18px;
    }

    .item-quantity {
        font-size: 14px;
        line-height: 18px;
    }

    .item-price {
        padding-top: 2px;
        font-size: 20px;
        line-height: 28px;
    }
}