nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px;
}

.navbar-links{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 19px 0px;
}

.nav-title{
    font-weight: 700;
    font-size: 20px;
}

.item{
    font-weight: 400;
    font-size: 17px;
}

.navbar-item a{
    display: inline-block;
    font-family: Inter, sans-serif;
    text-decoration: none;
    margin-right: 32px;
    color: black;
}

#search-icon{
    width: 15.85px;
    height: 16px;
    margin-right: 12.15px;
}

#shopping-cart-icon{
    margin-right: 7.72px;
}