nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-links{
    display: flex;
    list-style-type: none;
    margin: 13px 0px;
    margin-left: 100px;
}

.nav-title{
    font-weight: 700;
    font-size: 20px;
}

.item{
    font-weight: 400;
    font-size: 17px;
}

.navbar-item a{
    display: inline-block;
    font-family: Inter, sans-serif;
    text-decoration: none;
    padding: 0px 8px;
    color: black;
}