nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px black;
    background-color: white;
}

.responsive-navbar{
    display: none;
    justify-content: flex-end;
    align-items: center;
    border-bottom: solid 1px white;
    background-color: black;
    height: 64px;
}

.nav-icon{
    padding-right: 20px;
}

.bar{
    background-color: white;
    height: 0px;
    width: 33px;
    border: solid 2px white;
    border-radius: 10px;
}

.space{
    margin-bottom: 7px;
}

@media screen and (max-width: 850px){

    nav{
        display: none;
    }

    .responsive-navbar{
        display: flex;
    }
}

.navbar-links{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 19px 0px;
}

.nav-title{
    font-weight: 700;
    font-size: 20px;
}

.item{
    font-weight: 400;
    font-size: 17px;
}

.navbar-item a{
    display: inline-block;
    font-family: Inter, sans-serif;
    text-decoration: none;
    margin-left: 32px;
    color: black;
}

.navbar-item input[type = text]{
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
    color: #979797;

}

.navbar-item input:focus,
.navbar-item input:active{
    border-color: transparent;
    color: black;
}

#search-icon{
    width: 15.85px;
    height: 16px;
    margin-right: 12.15px;
}

#shopping-bag-icon{
    margin-right: 7.72px;
}