/* VARIABLES */
:root {
    --primary: #000000;
    --secondary: #979797;
    --bg-primary: #eff2f6;

    --slider-size: 550px;
    --slider-btn-size: 57px;
}

/* GENERAL STYLE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Public Sans', sans-serif;
    background-color: var(--bg-primary);
}

/* MAIN CONTENT */
main {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 100px;
}

main > * {
    margin-left: 45px;
    margin-right: 45px;
}

/* SLIDER */
#slider {
    width: var(--slider-size);
    height: var(--slider-size);
}

#slider-buttons a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    width: var(--slider-btn-size);
    border-radius: 50%;
    border: none;
    color: var(--bg-primary);
    font-size: calc(var(--slider-btn-size) * 0.7);
    font-weight: 100;
    background-color: var(--primary);
    cursor: pointer;
    z-index: 1;
}

#slider-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: relative;
    bottom: calc(50% + var(--slider-btn-size)/2);
    z-index: 1;
    padding-left: 15px;
    padding-right: 15px;
}

#slides {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slide {
    object-fit: cover;
    width: var(--slider-size);
    height: var(--slider-size);
    scroll-snap-align: start;
    flex-shrink: 0;
    transform-origin: center center;
    transition: .3s ease-in-out;
}

.right-btn-hovered .slide {
    width: calc(var(--slider-size) * 0.89);
    scroll-snap-align: start;
}

.left-btn-hovered .slide {
    width: calc(var(--slider-size) * 0.89);
    scroll-snap-align: end;
}

/* PRODUCT INFORMATIONS */
#infos {
    width: 350px;
}

#infos > * {
    margin: 15px 0 15px 0;
}

#infos h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1.5px;
    margin-top: 0;
    margin-bottom: 2px;
}

#infos #price, #infos #price-responsive {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -3%;
    margin-top: 0;
}

#infos #price-responsive {
    display: none;
}

#infos #description {
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -3%;
}

#customization-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#quantity-button {
    font-family: 'Inter', sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--primary);
    width: 168px;
    height: 50px;
    padding: 10px;
}

#quantity-button button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    color: var(--secondary);
    font-size: 30px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}

#quantity-button #quantity-output, #color-button {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.3px;
}

#color-button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    border: 1px solid var(--primary);
    width: 168px;
    height: 50px;
    padding: 10px;
    margin-left: 15px;
}

#extra-info {
    color: var(--primary);
    opacity: .5;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.4px;
}

#purchase-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 22px;
}

#purchase-buttons > * {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--bg-primary);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.4px;
}

#add-cart-button {
    background-color: var(--primary);
    width: 200px;
    height: 50px;
}

#buy-now-button {
    background-color: #2F80ED;
    width: 140px;
    height: 50px;
    margin-left: 15px;
}

/* RESPONSIVE */
@media screen and (max-width: 1024px) {
    main {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-top: 70px;
    }

    #slider {
        width: 80%;
        aspect-ratio: 1/1;
    }

    #slider #slides, #slider .slide {
        width: 100%;
        height: 100%;
    }

    #infos {
        width: 80%;
        margin-top: 15px;
    }

    #infos #price {
        display: none;
    }

    #infos #price-responsive {
        display: block;
    }
}

@media screen and (max-width: 560px) {
    #slider, #slider #slides, #slider .slide {
        width: 350px;
        height: 350px;
    }

    #infos {
        width: 350px;
    }
}
